// Place all the styles related to the Public/Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#favorite{
    justify-content: space-around;
}

#room{
    justify-content: space-around;
}