<p id="notice"></p>
 <div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1><strong>About</strong></h1>
      <p><strong>アニッチング</strong>はアニメやマンガの感想などを共有し、出会いを見つけるサイトです。</p>
      <p>同じ趣味をもつ人同士で繋がりを作り、</p>
      <p>どんどんコミュニティを広げていこう</p>
    <p>アニメ・マンガが好きな人、そこから人との繋がりを作りたい人にオススメ!!</p>
      
    </div>
  </div>
</div>